body {
    font-family: 'Lato', sans-serif;
}
.header {
    background-color: #FF9B04;
}

.number__text {
    font-size: 22px;
}

.mainblock {
    padding-top: 80px;
    height: auto;
    background-color: #ffffff;
    padding-bottom: 100px;
}
.txt__1 {
    font-size: 30px;
}
.glavimg {
    float: right;
}

.bayer__block {
    height: 460px;
    background-color: #929292;
}
.bayer__block__01{
    height: 410px;
    box-shadow: 0px 0px 50px 10px #ff4b04;
}

.bayer__img {
    float: right;
}
.bayer__block__text{
    font-size: 42px;
}

.coll__ {
    margin-bottom: 10px;
}

.bayer__logo__01 {
    float: left;
}
.bayer__logo__text {
    font-size: 20px;
    float: left;
}


.table_01 {
    border-top-left-radius: 5% 11%;
    border-top-right-radius: 5% 11%;
    box-shadow: 0px 0px 40px 15px #ff4b04;

}



th{
    text-align: center;

}

td{
    text-align: center;
}

.footer__01 {
    height: auto;
    color: #ffffff;
    background: linear-gradient(to right, #FF9B04, #FF0000);
}

.footer__text_01 {
    font-size: 24px;
}
.footer__text_02 {
    font-size: 22px;
}
.footer__text_03 {
    font-size: 18px;
}
.footer__text_04 {
    font-size: 20px;
}



.text__{
  font-size: 14px;
}

.img__zoom{
  width: 270px;
  transition: 0.5s;
}

.img__zoom:hover{
    width: 300px;
    margin-bottom: -11px;
  }


.fixprice__border{
    margin-top: 100px;
    margin-bottom: 100px;
  box-shadow: 0px 0px 50px 10px #ff4b04;
  border: 5px solid white;
  border-radius: 5px;
  height: auto;
  padding: 50px 0 0 0px;
}

.nav__color{
  color:#ffffff;
}

.nav__color:hover{
  color:#ffffff;
  border-bottom: 1px solid #ffffff;
}

.nav__space{
  margin-right: 80px;
}

.whats{
  margin-top: 150px;
}


ul {
  padding: 0;
  list-style-type: none;
}

.a__mobile {
  text-decoration: none;
  color: #1E1E23;
  opacity:1;
  font-size: 1.5em;
  font-weight: 400;
  transition: 200ms;
}
.a__mobile:hover {
  opacity:0.5;
}

#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span
{
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383F;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 180px;
  height: 350px;
  box-shadow: 0 0 10px #85888C;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 100px;
  background-color: #F5F6FA;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  transition-delay: 2s;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
